.contend0{
    width: 100%;
    height: 100%;
}
.contend01{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}
.contend001{
    align-self: center;
    width: 300px;
    background-color: #4346df;
    
}
.contend002{
    background-color: #4346df;
    
}
.contend02{
    width:100%;
    align-self: center;
    
    background-color: #4346df;
}
.fotosjuntas{

}
.icono{
     
    border-radius: 50%;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}

.autor{
    align-self: center;    
}
h1{
    font-size: 60px;
    align-self: start;

}

footer{
    width: 100%;
    alt: 150px;
    justify-content: space-between;
}