.contend01{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    
    
}

body{
    background-image: linear-gradient(
        to bottom,
        rgb(255 255 0 / 50%),
        rgb(0 0 255 / 50%)
        ), url("https://w.forfun.com/fetch/42/42c28a49107d148f54e89e451cfe9859.jpeg");
}

.contend001{
    align-self: center;
    width: 300px;
    background-color: rgb(221, 243, 26);
    opacity: 50%;
}
.contend002{
    
    
}
.contend02 {
    width: 80%;
    border: 2px solid black;
    margin: 10px auto; /* Esto centrará el div horizontalmente */
    display: flex; /* Necesario para centrar los elementos dentro del div */
    justify-content: center; /* Centrará los elementos horizontalmente dentro del div */
    align-items: center; /* Centrará los elementos verticalmente dentro del div */
    flex-wrap: wrap;
}

.icono{
     
    border-radius: 50%;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin: 10px;
 padding : 10px;
}

.autor{
    text-align: center;
    border: 2px solid black;
    width: 10%;
    margin: 0 auto;
}
h1{
    font-size: 60px;
    align-self: start;

}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    border: 2px solid black;
    border-top: 2px solid black;
    margin-top: 20px;
    
}

.contact_help{
    flex-grow: 1; /* Permite que los divs crezcan para ocupar el espacio disponible */
    display: flex; /* Utiliza flex para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100%; /* Asegura que el div tenga la misma altura que el footer */
}

.contact_help_text{
    font-weight:bold ;
    color: white
}
